.env
*.session-journal
*.session
build
test*
*.mp3
*.webm
*.webp
*.mp4
*.tgs
*.txt
/*.jpg
/*.png
/*.mp4
*.log
target/npmlist.json
package-lock.json
ultroid.json
localdb.json
resources/extras/thumbnail.jpg

# Directories
resources/auth
resources/temp
resources/downloads
.ruff_cache/
__ignore__
addons/
vcbot/
__pycache__/
venv/
.venv/
node_modules/
glitch_me/
src/
.idea/
.vscode/
temp/
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.settings/
*.swf
*.air
*.ipa
*.apk

# temporary files
*.raw

# fly.io configs
fly.toml

# others
.nomedia
.env
mirror
script.sh
init.sh
init
run
runner.py
config.env
web.py
*.out
