# Important Requirements here.
https://github.com/lanowde/telethon/archive/main.zip
# https://github.com/lanowde/telethon-patch/archive/main.zip
python-decouple
python-dotenv

# removed
redis[hiredis]
pymongo[srv]
pyyaml

# custom
https://github.com/PyrogramMod/PyrogramMod/archive/refs/heads/main.zip
pymediainfo
aiofiles
music_tag
uvloop
g4f

# Extras:
# - spotdl, pygithub, imgur_python
# - https://github.com/1Danish-00/glitch_me.git#egg=glitch_me
# - https://github.com/lanowde/instagrapi/archive/master.zip
# - flask, gunicorn, scikit-image
